body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
  background-color: rgb(41 42 45);
}

.nav-list {
  display: flex;
  gap: 20px;
  margin: 0px;
}

.nav-list>a>li {
  padding: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.active {
  background-color: rgb(32 33 36);
}

.category-list-name {
  text-transform: capitalize;
}